main {
    width: 100vw;
    max-width: 75vw;
}

.searchContainer {
    padding: 36px;
}

.searchContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.searchContainer input {
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    padding-inline-start: 12px;

    height: 32px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.userCard {
    width: 640px;
    min-height: 400px;
    display: flex;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
}

.avatarContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    border-right: 1px dashed var(--text-color);
}

.avatarContainer img {
    border-radius: 50%;
}

.userInfo {
    flex: 2;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
}

.userInfo span {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
